apiVersion: apps/v1
kind: Deployment
metadata:
  name: pf-employeesservice
  labels:
    app: employeesservice
spec:
  replicas: 2
  selector:
    matchLabels:
      app: employeesservice
  template:
    metadata:
      labels:
        app: employeesservice
    spec:
      containers:
      - name: employeesservice
        image: manishsrivastava78/demo-employees:changeMePlease
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
