apiVersion: v1
kind: Service
metadata:
  name: pf-employeesservice
  labels:
    app: employeesservice
spec:
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    app: employeesservice
  type: LoadBalancer
